# Compiled Output
/dist
/node_modules
/build
libs/shared/dist/
/log

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and Editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# --- Environment Variable Isolation Rules ---

# Root Level Env Rules
.env
.env.test
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.cp.api
.env.instance2

# App-Level Secret Configurations
apps/api/.env
apps/queue-service/.env

# App-Level E2E Test Environments
apps/api/test/.env.test
apps/queue-service/test/.env.test

# Blueprint / Templates Configuration (Always Track These)
!apps/api/.env.example   
!apps/queue-service/.env.example

# ---------------------------------------------

# Temp Directory
.temp
.tmp

# Runtime Data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic Reports (https://nodejs.org)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
